<h1><%= @restaurant.name %></h1>
<br>
<div>
  <%= @restaurant.address %> |
  <%= @restaurant.phone_number %> |
  <%= @restaurant.category %>
</div>
<br>
<div>
  <h2>Reviews</h2>
  <ul>
    <% @restaurant.reviews.each do |review| %>
      <li>
        <%= review.content %> || <%= review.rating %>
      </li>
    <% end %>
  </ul>
</div>
